/* --- FIX INPUT TEXT + ICON ALIGNMENT --- */

.input-with-icon {
  color: #111 !important;
  background: #fff;
  line-height: 1.2;
  height: 44px;
}

.input-with-icon::placeholder {
  color: #666;
}

.toggle-password,
.copy-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 100%;
}

.toggle-password {
  right: 10px;
}

.copy-btn {
  right: 50px;
}

.toggle-password svg,
.copy-btn svg {
  width: 20px;
  height: 20px;
}
